In [1]:
import gopup as gp
import matplotlib.pyplot as plt
df = gp.weibo_index(word="疫情", time_type="1hour")
print(df)

                       疫情
index
2023-06-20 13:30:00  1196
2023-06-20 13:35:00  1451
2023-06-20 13:40:00  1752
2023-06-20 13:45:00  1563
2023-06-20 13:50:00  1208
2023-06-20 13:55:00   851
2023-06-20 14:00:00  1009
2023-06-20 14:05:00  1006
2023-06-20 14:10:00   880
2023-06-20 14:15:00   866
2023-06-20 14:20:00   844
2023-06-20 14:25:00   833
2023-06-20 14:30:00   607

In [2]:
cookie = '''BDUSS=kFpVHVhb2d-blRWREJ-c3hNZDlaZk5oZjYwUXVkNVNVeXRnSmI2c1h5dHl1NHBrSVFBQUFBJCQAAAAAAAAAAAEAAAApwCzTAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAHIuY2RyLmNkY; BAIDUID=BD93D6F022C5D0A65EF1992D4893BF1E:FG=1; BIDUPSID=BD93D6F022C5D0A65EF1992D4893BF1E; PSTM=1684221806; ZFY=FwJ:B:B:AArZIjor17Kj4VWo3bC99NrOyQQL4WbOXyY79Q:C; BAIDUID_BFESS=BD93D6F022C5D0A65EF1992D4893BF1E:FG=1; baikeVisitId=0cd1df1e-1892-4362-a118-fc347e3d606f; BDUSS_BFESS=kFpVHVhb2d-blRWREJ-c3hNZDlaZk5oZjYwUXVkNVNVeXRnSmI2c1h5dHl1NHBrSVFBQUFBJCQAAAAAAAAAAAEAAAApwCzTAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAHIuY2RyLmNkY; BD_HOME=1; H_PS_PSSID=38516_36543_38686_38540_38794_38768_38719_38577_38815_38823_38639_26350_38568; BD_UPN=123253; BA_HECTOR=0l24ag84050g0l812485003b1i7oonp1n'''

In [48]:
import pandas as pd
kw_list = ["交通运输",
           "交通工具", 
           "交通",
           "上海封城",
           "上海封控",
           "封城",
           "破产",
           "海运",
           "出口",
           "货运",
           "经济衰退",
           "物流",
           "快递",
           "上海物流",
           "上海快递",
           "空调",
           "上海空调"
           ]
df_all_2019_2023 = pd.DataFrame()
for kw in kw_list:
    print(kw)
    df = gp.baidu_search_index(word=kw, start_date='2022-04-02', end_date='2022-11-01', cookie=cookie).reset_index()
    # print(df['index'])
    df_index = pd.DataFrame()
    if len(df_all_2019_2023) == 0:
        df_index['date'] = df['date']
        df_index[str(kw)] = df['index']
    else:
        df_index[str(kw)] = df['index']
        
    df_all_2019_2023 = pd.concat([df_all_2019_2023, df_index], axis=1)
df_all_2019_2023

交通运输
交通工具
交通
上海封城
上海封控
封城
破产
海运
出口
货运
经济衰退
物流
快递
上海物流
上海快递
空调
上海空调

,date,交通运输,交通工具,交通,上海封城,上海封控,封城,破产,海运,出口,货运,经济衰退,物流,快递,上海物流,上海快递,空调,上海空调
0,2022-04-02,462,882,1365,13360,1831,1182,552,380,630,323,217,2652,30633,450,1909,18646,189
1,2022-04-03,384,569,1152,11421,1337,1086,418,276,482,262,213,2067,26961,417,1680,19158,229
2,2022-04-04,359,689,1156,12851,1773,1129,502,303,574,273,176,2094,26575,446,1725,19448,271
3,2022-04-05,446,665,1218,11202,2119,1104,586,305,446,272,225,1939,25978,464,2360,16736,296
4,2022-04-06,561,774,1424,11945,1960,1236,543,461,664,323,244,2818,31256,601,2868,15808,195
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
209,2022-10-28,419,633,1294,500,350,818,509,355,626,308,274,2433,28741,266,684,34284,63
210,2022-10-29,363,645,1118,436,249,734,424,253,433,257,285,2031,26746,217,527,40772,0
211,2022-10-30,320,616,1085,407,243,616,419,273,394,164,240,1735,25049,145,389,39438,67
212,2022-10-31,456,765,1490,526,322,717,715,384,655,298,315,2398,27700,205,429,32022,0
213,2022-11-01,428,831,1584,446,367,708,645,365,691,287,306,2557,27926,208,392,38075,0

In [56]:
import pandas as pd
kw_list = ["交通工具",
           "家用电器", 
           "失业救济金",
           "房地产中介",
           "抵押贷款",
           "风险投资",
           "破产",
           "海运",
           "农业",
           "出口",
           "货运",
           "经济衰退",
           "食品"]
df_all_2019_2023 = pd.DataFrame()
for kw in kw_list:
    print(kw)
    df = gp.baidu_search_index(word=kw, start_date='2023-06-07', end_date='2023-06-13', cookie=cookie).reset_index()
    # print(df['index'])
    df_index = pd.DataFrame()
    if len(df_all_2019_2023) == 0:
        df_index['date'] = df['date']
        df_index[str(kw)] = df['index']
    else:
        df_index[str(kw)] = df['index']
        
    df_all_2019_2023 = pd.concat([df_all_2019_2023, df_index], axis=1)
df_all_2019_2023

交通工具
家用电器
失业救济金
房地产中介
抵押贷款
风险投资
破产
海运
农业
出口
货运
经济衰退
食品

,date,交通工具,家用电器,失业救济金,房地产中介,抵押贷款,风险投资,破产,海运,农业,出口,货运,经济衰退,食品
0,2023-06-07,740,391,149,170,2302,389,435,387,2728,1169,284,290,871
1,2023-06-08,883,480,158,162,2177,444,490,361,3004,1028,280,260,813
2,2023-06-09,654,384,159,157,2402,382,443,348,3119,816,275,217,807
3,2023-06-10,684,365,126,148,2552,305,420,258,2624,554,222,191,635
4,2023-06-11,818,344,79,141,2311,318,380,255,2485,523,217,217,594
5,2023-06-12,559,414,137,200,3050,391,439,333,3255,816,292,249,885
6,2023-06-13,594,413,144,168,2706,405,455,383,3165,835,273,269,887

In [49]:
df_all_2019_2023.to_csv('/Users/zean/Projects/Py_Projects/lele/baidu_shanghai05.csv', encoding='utf-8')

In [50]:
df1 = pd.read_csv('/Users/zean/Projects/Py_Projects/lele/baidu_shanghai04.csv', encoding='utf-8')
df1

,Unnamed: 0,date,交通运输,交通工具,交通,上海封城,上海封控,封城,破产,海运,出口,货运,经济衰退,物流,快递,上海物流,上海快递,空调,上海空调
0,0,2021-10-01,266,525,1077,59,0,180,450,319,418,263,145,1736,23290,168,63,3505,61
1,1,2021-10-02,260,440,1029,59,0,168,555,310,427,261,74,1914,22029,106,61,25534,0
2,2,2021-10-03,282,490,1046,0,0,354,581,320,376,186,130,2001,21029,87,120,30474,0
3,3,2021-10-04,252,535,1060,0,0,219,636,367,373,271,154,1959,22398,155,67,9790,0
4,4,2021-10-05,284,616,1038,0,0,210,511,474,446,273,139,1985,23272,167,67,9667,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
178,178,2022-03-28,523,790,1676,40314,6172,1657,860,400,648,363,271,2867,31716,364,1733,2506,158
179,179,2022-03-29,543,951,1442,19412,3555,1279,673,391,706,376,255,2858,31210,344,1534,5410,166
180,180,2022-03-30,525,1022,1505,14922,2866,1278,577,404,635,340,238,2865,31704,365,1732,3837,164
181,181,2022-03-31,541,975,1463,18141,2819,1358,565,473,642,356,262,2756,32487,365,1720,2535,168
182,182,2022-04-01,489,973,1567,16477,2703,1324,577,419,581,369,233,2605,30887,423,1945,10771,185

In [51]:
df2 = pd.read_csv('/Users/zean/Projects/Py_Projects/lele/baidu_shanghai05.csv', encoding='utf-8')
df2

,Unnamed: 0,date,交通运输,交通工具,交通,上海封城,上海封控,封城,破产,海运,出口,货运,经济衰退,物流,快递,上海物流,上海快递,空调,上海空调
0,0,2022-04-02,462,882,1365,13360,1831,1182,552,380,630,323,217,2652,30633,450,1909,18646,189
1,1,2022-04-03,384,569,1152,11421,1337,1086,418,276,482,262,213,2067,26961,417,1680,19158,229
2,2,2022-04-04,359,689,1156,12851,1773,1129,502,303,574,273,176,2094,26575,446,1725,19448,271
3,3,2022-04-05,446,665,1218,11202,2119,1104,586,305,446,272,225,1939,25978,464,2360,16736,296
4,4,2022-04-06,561,774,1424,11945,1960,1236,543,461,664,323,244,2818,31256,601,2868,15808,195
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
209,209,2022-10-28,419,633,1294,500,350,818,509,355,626,308,274,2433,28741,266,684,34284,63
210,210,2022-10-29,363,645,1118,436,249,734,424,253,433,257,285,2031,26746,217,527,40772,0
211,211,2022-10-30,320,616,1085,407,243,616,419,273,394,164,240,1735,25049,145,389,39438,67
212,212,2022-10-31,456,765,1490,526,322,717,715,384,655,298,315,2398,27700,205,429,32022,0
213,213,2022-11-01,428,831,1584,446,367,708,645,365,691,287,306,2557,27926,208,392,38075,0

In [53]:
df3 = pd.concat([df1, df2],axis=0)
df3.to_csv('/Users/zean/Projects/Py_Projects/lele/baidu_shanghai06.csv', encoding='utf-8')

In [48]:
df = pd.read_csv('/Users/zean/Projects/Py_Projects/lele/baidu_keywords_2019-2023.csv', encoding='utf-8')
df

,Unnamed: 0,date,交通工具,家用电器,失业救济金,房地产中介,抵押贷款,风险投资,破产,海运,农业,出口,货运,经济衰退,食品
0,0,2019-01-01,621,579,144,204,1100,522,595,396,1523,414,264,203,930
1,1,2019-01-02,632,630,148,215,1128,486,590,420,1577,460,299,179,986
2,2,2019-01-03,598,625,127,221,1040,444,541,362,1486,443,296,165,842
3,3,2019-01-04,591,543,140,199,1015,361,533,345,1423,396,280,160,703
4,4,2019-01-05,490,444,130,174,896,305,474,280,1437,317,201,148,484
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1457,1457,2022-12-28,0,0,0,0,0,0,0,0,0,0,0,0,0
1458,1458,2022-12-29,0,0,0,0,0,0,0,0,0,0,0,0,0
1459,1459,2022-12-30,0,0,0,0,0,0,0,0,0,0,0,0,0
1460,1460,2022-12-31,0,0,0,0,0,0,0,0,0,0,0,0,0
1461,1461,2023-01-01,0,0,0,0,0,0,0,0,0,0,0,0,0

In [35]:
import pandas as pd
cookie = '''BDUSS=kFpVHVhb2d-blRWREJ-c3hNZDlaZk5oZjYwUXVkNVNVeXRnSmI2c1h5dHl1NHBrSVFBQUFBJCQAAAAAAAAAAAEAAAApwCzTAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAHIuY2RyLmNkY; BAIDUID=BD93D6F022C5D0A65EF1992D4893BF1E:FG=1; BIDUPSID=BD93D6F022C5D0A65EF1992D4893BF1E; PSTM=1684221806; ZFY=FwJ:B:B:AArZIjor17Kj4VWo3bC99NrOyQQL4WbOXyY79Q:C; BAIDUID_BFESS=BD93D6F022C5D0A65EF1992D4893BF1E:FG=1; baikeVisitId=0cd1df1e-1892-4362-a118-fc347e3d606f; BDUSS_BFESS=kFpVHVhb2d-blRWREJ-c3hNZDlaZk5oZjYwUXVkNVNVeXRnSmI2c1h5dHl1NHBrSVFBQUFBJCQAAAAAAAAAAAEAAAApwCzTAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAHIuY2RyLmNkY; BD_HOME=1; H_PS_PSSID=38516_36543_38686_38540_38794_38768_38719_38577_38815_38823_38639_26350_38568; BD_UPN=123253; BA_HECTOR=0l24ag84050g0l812485003b1i7oonp1n'''
data_vehicles = gp.baidu_search_index(word="封控", start_date='2019-12-24', end_date='2023-01-01', cookie=cookie)
# data_vehicles.reset_index(inplace=True)
data_vehicles
# df2=pd.DataFrame()
# s='jiaot'
# df2['index_'+s] = data_vehicles['index']
# df2

In [43]:
import sys

print(sys.getdefaultencoding())

utf-8

In [25]:
data_vehicles.index

DatetimeIndex(['2019-01-01', '2019-01-02', '2019-01-03', '2019-01-04',
               '2019-01-05', '2019-01-06', '2019-01-07', '2019-01-08',
               '2019-01-09', '2019-01-10',
               ...
               '2022-12-23', '2022-12-24', '2022-12-25', '2022-12-26',
               '2022-12-27', '2022-12-28', '2022-12-29', '2022-12-30',
               '2022-12-31', '2023-01-01'],
              dtype='datetime64[ns]', name='date', length=1462, freq=None)

In [5]:
df = gp.baidu_today_hot_list()
df

Empty DataFrame
Columns: [ranking]
Index: []

In [16]:
df = gp.baidu_hot_word_list()
# df.to_csv('/Users/zean/Projects/Py_Projects/lele/realtime02.csv', encoding='utf-8')
df

,title,link,description,status,ranking
0,中国共产主义青年团,https://baike.baidu.com/item/中国共产主义青年团/405736,6月19日，中国共产主义青年团第十九次全国代表大会在北京人民大会堂开幕。人民大会堂大礼堂灯光...,up,1
1,2023中国互联网大会,https://baike.baidu.com/item/2023中国互联网大会/63111947,中国互联网大会定于7月18日—20日在北京举行，大会将以“促进数实融合赋能千行百业”为主题。,up,2
2,引汉济渭,https://baike.baidu.com/item/引汉济渭/9321685,引汉济渭工程日前通过通水阶段验收。,up,3
3,2023年高考,https://baike.baidu.com/item/2023%E5%B9%B4%E6%...,2023年高考网上咨询周6月22日起举行。,up,4
4,进博会,https://baike.baidu.com/item/%E4%B8%AD%E5%9B%B...,,up,5
5,付巧妹,https://baike.baidu.com/item/付巧妹/16571350,,up,6
6,第28届上海电视节,https://baike.baidu.com/item/第28届上海电视节/59360767,,up,7
7,金爵奖,https://baike.baidu.com/item/金爵奖/7955549,,up,8

In [25]:
df = gp.baidu_today_hot_list()
# df.to_csv('/Users/zean/Projects/Py_Projects/lele/realtime02.csv', encoding='utf-8')
df

Empty DataFrame
Columns: [ranking]
Index: []

In [18]:
df

In [19]:
df = gp.baidu_age_index(word="出口", cookie=cookie)
df

    desc     tgi  word_rate  all_rate                 period
0   0-19   88.93       6.74      7.58  2023-05-01|2023-05-31
1  20-29  125.01      32.86     26.30  2023-05-01|2023-05-31
2  30-39  112.25      38.81     34.60  2023-05-01|2023-05-31
3  40-49   76.37      14.82     19.42  2023-05-01|2023-05-31
4    50+   55.96       6.77     12.11  2023-05-01|2023-05-31

In [14]:
import requests  
from bs4 import BeautifulSoup